@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,300,400italic);

$global-font: 'Josefin Slab';

$white: #DBD2D7;
$blue: #3C629E;
$yellow: #BF871E;
$orange: #A65C25;
$black: #080102;
